<html>
    <head>
        <title>
            Prompt
        </title>
        {% load staticfiles %}
        <link rel = 'stylesheet' type = 'text/css' href= "{% static 'courses_app/style.css' %}">
    </head>
    <body>
        <div class = "body">
            <div class = "top">
                <h3>Are you sure you want to delete the following course?</h3>
                <table id = "prompt">
                    <tr>
                        <td><label>Name:</label></td>
                        <td>{{courseid.name}}</td>
                    </tr>
                    <tr>
                        <td><label>Description:</label></td>
                        <td>{{courseid.description}}</td>
                    </tr>
                </table>
            </div>
            <br><br>
            <div class = "bottom">
                <a href = '{% url "index" %}' id = "disguise">No</a>
                <form action = '{% url "destroy"%}' method = "POST">
                    <input type = "hidden" name = "id" value = {{courseid.id}}>
                    {% csrf_token %}
                    <input type = "submit" value = "Yes! I want to delete this" id = "submit">
                </form>
            </div>
        </div>
    </body>
</html>