<html>
    <head>
        <title>View</title>
    </head>
    <body>
        {{notify}}
        <h4>{{book.title}}</h4>Author: {{book.authors.name}}<br>
        <a href = "{% url 'index' %}">Home</a>
        <a href = "/">Logout</a>
        <br><br>
        Reviews:<br>
        {% for review in reviews %}
        ______________________________________________<br>
        Rating : {{review.rating}}/5 stars<br>
        <a href = "{% url 'user' review.reviewer.id %}">{{review.reviewer.alias}}</a> says: <i>{{review.review}}</i><br>
        <i>posted on: {{review.created_at|date:"M d,Y"}}</i><br>
        {% if review.reviewer.name == request.session.name %}
        <form action = "{% url 'delete_process' %}" method = "POST">
                {% csrf_token %}
                <input type = "hidden" name = "rev_id" value = "{{review.id}}">
                <input type = "hidden" name = "book_id" value = "{{review.books.id}}">
                <input type = "hidden" name = "return_index">
                <input type = "submit" value = "Delete this review">
            </form><br>
        {% endif %}
        {% endfor %}
        <br>
        {% if messages %}
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul><br>
        {% endif %}
        Add a Review:
        <br>
        <form action = "{% url 'add_process' %}" method = "POST">
            {% csrf_token %}
            <input type = "text" name = "add_review">        
            <select name = "rate">
                <option value = 1>1</option>
                <option value = 2>2</option>
                <option value = 3>3</option>
                <option value = 4>4</option>
                <option value = 5>5</option>
            </select>
            stars
            <input type = "hidden" name = "id" value = {{id}}>
            <input type = "hidden" name = "rev_submit" value = "add_review">
            <input type = "submit" value = "add review">
        </form>

    </body>
</html>